:root {
    --color_primary: #0083FC;
    --color_danger: #FF5533;
    --color_secondary: #E6E6E6;

    --container_width: 1440px;

    --cards_grid_column_width: 116px;
    --cards_grid_gap: 16px;
}
