.header {
    margin-bottom: 108px;
    font-size: 50px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
    color: var(--color_primary);
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: space-between;
}

.cards {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, var(--cards_grid_column_width));
    grid-template-rows: repeat(4, var(--cards_grid_column_width));
    grid-gap: var(--cards_grid_gap);
}

.cards > button {
    grid-column: span 1;
}
